.nov-product {
  background-color: #1c2b35;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding-left: 140px;
  padding-right: 140px;
}

.nov-product a {
  color: white;
  text-decoration: none;
  margin-left: 36px;
  font-size: 17px;

}
.nov-product a:hover{
    color: orange;
}

